.container{
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
}

.photo1{
    filter: drop-shadow(0 40px 10px rgba(0,0,0, 0.3)); /*black shadow with 10px blur */ 
    animation: photo1Animation 2s ease-in-out alternate infinite;
}
@keyframes photo1Animation {
    to{
        transform: translateY(-20px);
       
    }
}

.AppBanner > svg{
    color:  white;
    font-size: 3rem;
    transition: color 0.5s;
}

.AppBanner > svg:hover{
    color: rgb(225, 221, 0);
}

.container2{
    height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.container2 video {
    border: 1px solid rgba(0, 0, 0, 0.18);
    width: 60%;
    border-radius: 5px;
    outline: none;
    }

    @media screen and (max-width: 600px) {
        .container2{
        height: unset;
        padding: 8vh 0;
        }
        .container2 video {
        width: 100%;
        }
        }
        .course{
           
            width: 300px;
            margin-top: 2rem;
            margin-bottom: 1rem;
            transition: all 0.5s;
        }
        .course:hover{
            transform: translateY(-10px);
        }
        .course.title{
            
                text-align: center;
            
        }